.c-search>.search-input{
    border-radius:23px;
    border: #F5F5F5;
    height: 45px;
    background-color: #F5F5F5;
    color:#707070 ;
    font-family:"assistant_light";
    font-size:20px;
    padding:9.9px 26px 9.1px 26px ;
}
.c-search>.search-input:focus{
    outline: none;
}